

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.header {
    
}

.black-block__container{
    width: 450px;
    height: 799px;
    position: absolute;
    left: 300px;
    top: 0;
    background-color: #151515;
}

.container {
    max-width: 1275px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
    
}

.main-page {
    height: 800px;
    
}
.main__content {
    display: flex;
    margin-top: 190px;
    margin-left: 153px;
}

.modern__container {
    display: flex;
    height: 176px;
}

.modern-content {
    font-family: 'Big Shoulders Display';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 92%;
    /* or 92% */
    text-transform: uppercase;
    z-index: 1;
}

.end-to-black {
    color: #151515;
}

.info-text__container {
    height: 160px;
    width: 350px;
    margin-left: 310px;
}

.info__text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}

.text-color {
    color: #444444;
}

.buttons__container{
    display: flex;
    justify-content: flex-end;
    margin: 46px 97px;
}

.main-block__buttons {
    display: inline-flex;
    justify-content: flex-end;
}

.main-block__buttons:hover .main-block__button {
    cursor: pointer;
    background-color: #D5966C;
}

.main-block__buttons:hover .main-block__arrow {
    cursor: pointer;
    background-color: black;
}

.main-block__button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 35px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 3.63636px;
}



.location-button {
    text-decoration: none;
    color: #FFFFFF;
}

.main-block__arrows {
    display: inline-flex;
}

.main-block__arrow {
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
}



/*  ----------- body  --------------- */


.content__container {
    max-width: 1110px;
    width: 100%;
    margin: 0px auto;
}

.color-white{
    color: #FFFFFF;
}
.main-gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-block-h1-text {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}

.color-black {
    color: #151515;
}

.marg__top {
    margin-top: 32px;
}

.info-image {
    width: 635px;
    height: 400px;
}

/* second gallery block */

.second__block {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
}

.background-black {
    background-color: #151515;
}

.margins {
    margin: 65px 47px 32px 48px;
}

.info__text-margins {
    margin: 0px 47px 64px 48px;
}

.info-block__margin-top {
    margin-top: 30px;
}


/* ---------- Footer --------- */

.footer {
    margin-top: 180px;
    height: 244px;
}

.footer-content__container {
    display: flex;
    max-width: 1110px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    align-items: center;
}

.footer-info-text {
    /* Body (S) */

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */


    /* White */

    color: #FFFFFF;
}

.footer-container__logo{
    margin-right: 70px;
}

.footer__logo{
    width: 230px;
}

.footer-container-icons {
    margin-left: 275px;
    margin-bottom: 65px;
}

.footer-container-icons img:nth-child(n) {
    margin: 0px 0px 0px 15px;
  }

  .svg:hover {
    fill: red;
  }
