

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.header {
    
}

.black-block__container{
    width: 450px;
    height: 799px;
    position: absolute;
    left: 300px;
    top: 0;
    background-color: #151515;
}

.header-image__container {
    height: 799px;
    position: absolute;
    left: 713px;
    top: 0;
}

.container {
    max-width: 1275px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
    
}

.main-page {
    height: 800px;
    
}
.main__content {
    display: flex;
    margin-top: 190px;
    margin-left: 153px;
}

.modern__container {
    display: flex;
    height: 176px;
}

.modern-content {
    font-family: 'Big Shoulders Display';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 92%;
    /* or 92% */
    text-transform: uppercase;
    z-index: 1;
}

.end-to-black {
    color: #151515;
}

.info-text__container {
    display: flex;
    height: 160px;
    width: 350px;
    margin-left: 310px;
}

.info__text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    z-index: 1;
}

.text-color {
    color: #444444;
}

.buttons__container{
    display: flex;
    justify-content: flex-end;
    margin: 46px 97px;
}

.main-block__buttons {
    display: inline-flex;
    justify-content: flex-end;
    z-index: 1;
}

.main-block__buttons:hover .main-block__button {
    cursor: pointer;
    background-color: #D5966C;
}

.main-block__buttons:hover .main-block__arrow {
    cursor: pointer;
    background-color: black;
}

.main-block__button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 35px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 3.63636px;
}



.location-button {
    text-decoration: none;
    color: #FFFFFF;
}

.main-block__arrows {
    display: inline-flex;
}

.main-block__arrow {
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
}



/*  ----------- body  --------------- */


.content__container {
    max-width: 1110px;
    width: 100%;
    margin: 0px auto;
}

.color-white{
    color: #FFFFFF;
}
.main-gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-block-h1-text {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}

.color-black {
    color: #151515;
}

.marg__top {
    margin-top: 32px;
}

.info-image {
    width: 635px;
    height: 400px;
}

/* second gallery block */

.second__block {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
}

.background-black {
    background-color: #151515;
}

.margins {
    margin: 65px 47px 32px 48px;
}

.info__text-margins {
    margin: 0px 47px 64px 48px;
}

.info-block__margin-top {
    margin-top: 30px;
}


/* ---------- Footer --------- */

.footer {
    display: flex;
    margin-top: 180px;
    height: 244px;
}

.footer-content__container {
    max-width: 1110px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    align-items: center;
}

.footer-info-text {
    /* Body (S) */

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */


    /* White */

    color: #FFFFFF;
}

.footer-container__logo{
    margin-right: 70px;
}

.footer__logo{
    width: 230px;
}

.footer-container-icons {
    margin-left: 275px;
    margin-bottom: 65px;
}

.footer-container-icons img:nth-child(n) {
    margin: 0px 0px 0px 15px;
  }

  .svg:hover {
    fill: red;
  }


  /* Header  Media from 768 px tablet */


  @media (max-width: 768px) {
    .black-block__container{
        display: none;
    }
    .header-image__container {
        left: 0px;
    }
    .container {
        width: 776px;
        width: 100%;
        margin-right: 40px;
        padding: 0px 15px;
    }

    .main__content{
        width: 776px;
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        padding-right: 40px;
        align-items: baseline;
    }

    .modern-content{
        font-size: 70px;
        line-height: 93%;
        /* or 93% */
        text-transform: uppercase;
        color: #151515;
    }
    .end-to-black{
        display: contents;
    }

   .header-image {
    width: 437px;
    height: 700px;
   }

      .modern-content {
        display: flex;
        width: 339px;
    }

    .info-text__container {
        margin-left: 220px;
    }

    .info__text {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 156%;
        color: #444444;
    }
    .buttons__container {
        display: flex;
        justify-content: flex-end;
        margin: 46px 130px;
    }
  }

  /* Main  Media from 768 px tablet */

  @media (max-width: 768px) {
    .info-block-h1-text {
        font-size: 50px;
    }
    .info-image {
        width: 398px;
        height: 400px;
    }
    .info__text{
        font-size: 18px;
    }
    .main-gallery-container {
        align-items: center;
        margin-left: 39px;
        margin-right: 40px;
    }
    .content__container {
        max-width: 768px;
        margin: 0px auto;
    }
    .chear__image {
        width: 398px;
        height: 720px;
    }
    .gallery-image_02 {
        width: 280px;
        height: 313px;
    }

    .info-block {
        height: 396px;
        width: 280px;
    }
    .margins {
        margin: 85px 28px 0px 29px;
    }
    .info__text-margins {
        margin: 24px 28px 85px 29px;
    }
    .info__text-margins br {
        display: none;
    }
  }

  /*   footer */


  @media (max-width: 768px) {

    .footer {
        display: flex;
        margin-top: 120px;
        height: 216px;
        align-items: center;
        
    }

    .footer-content__container {
        display: flex;
        margin: 0px auto;
        width: 689px;
        height: 104px;
        align-items: flex-start;
    }

    .footer-info-text {
        /* width: 281px;
        height: 104px; */
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        margin-right: 97px;
        margin-left: -19px;
    }

    .footer-info-text br {
        display: none;
    }

    .footer-container-icons {
        margin: 0 auto;
        margin-left: 27px;
        width: 368px;
    }

    .footer__logo {
        width: 110.05px;
        height: 40px;
    }

   
  }