.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1275px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
}



/* 1200
992
767 */
.header {
}
.main-page {
    height: 800px;
}
.main__content {
    display: flex;
    margin-top: 190px;
}

.modern__container {
    width: 514px;
    height: 176px;
}
.modern-content {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 92%;
    /* or 92% */
    text-transform: uppercase;
}

.info-text__container {
    height: 160px;
    width: 350px;
    margin-left: 246px;
}

@media(max-width: 1126px){
    .info-text__container {
        margin-left: 146px;
    }
}


.info__text {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}

.text-color {
    color: #444444;
}

.buttons__container{
    display: flex;
    justify-content: flex-end;
    margin: 48px 254px;
}

.main-block__buttons {
    display: inline-flex;
    justify-content: flex-end;
}

.main-block__button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 35px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 3.63636px;
}
.location-button {
    text-decoration: none;
    color: #FFFFFF;
}

.main-block__arrows {
    display: inline-flex;
}
.main-block__arrow {
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
}
.arrow {
}

/*  ----------- body  --------------- */


.content__container {
    max-width: 1110px;
    width: 100%;
    margin: 0px auto;
}
.body-content {
}

.color-white{
    color: #FFFFFF;
}
.main-gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-block-h1-text {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}

.color-black {
    color: #151515;
}

.marg__top {
    margin-top: 32px;
}
.info-block__image {
}
.info-image {
    width: 635px;
    height: 400px;
}

/* second gallery block */

.second__block {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
}

.background-black {
    background-color: #151515;
}
.second-block__image {
}
.chear__image {
}
.inspired-container {
}
.gallery-image_02 {
}

.margins {
    margin: 65px 47px 32px 48px;
}

.info__text-margins {
    margin: 0px 47px 64px 48px;
}
.info-block__margin-top {
    margin-top: 30px;
}


/* ---------- Footer --------- */

